.homeContainer {
    padding: 50px 50px;
    background-color: lavenderblush;
}

.landingTitle {
    margin-top: 50px;
    color: #0e0e0e;
    font-size: 54px;
    font-weight: 600;
    line-height: 1.36;
}

.landingParagraph {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: gray;
}

.landingButton {
    margin-top: 20px;
    display: inline-block;
    background-color: #e52e06;
    border: 1px solid #e52e06;
    padding: 20px 50px;
    border-radius: 10px;
    color: white;
    transition: transform 500ms;

}

.landingButton:hover {
    /* transform: scale(1.1); */
    margin-top: 20px;
    display: inline-block;
    background-color: #0a0a0a;
    border: 1px solid #1f1e1d;
    padding: 20px 50px;
    border-radius: 10px;
    color: white;

}

.product-card {
    height: 450px;
    padding: 10px 10px;
    background-color: ghostwhite !important;
    border-color: ghostwhite !important;
}

.font-style {
    font-weight: 600
}

.landing-img {
    width: 550px
}

/* sizing */
@media (max-width:800px) {
    .landingSection {
        flex-wrap: wrap;
    }

    .productBannerSection {
        flex-wrap: wrap;
    }

    .landingImage {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .landing-img {
        width: 400px;
    }

     .product-col {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}