.wishlistContainer{
    padding: 50px 50px;
    background-color: lavenderblush;
}
.font-style {
    font-weight: 600
}

.product-card {
    height: 450px;
    padding: 10px 10px;
    background-color: ghostwhite !important;
    border-color: ghostwhite !important;
}

@media (max-width:800px) {
     .product-col {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}